site_name: pydantic-ai-orchestrator
nav:
  - Home: index.md
  - Usage: usage.md
  - Use Cases: use_cases.md
  - Intelligent Evals: intelligent_evals.md
  - Extending: extending.md
  - API Reference:
      - Orchestrator: 'pydantic_ai_orchestrator.application.orchestrator'
      - Settings: 'pydantic_ai_orchestrator.infra.settings'
      - Agents: 'pydantic_ai_orchestrator.infra.agents'
      - Scoring: 'pydantic_ai_orchestrator.domain.scoring'
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            docstring_style: google 